.nav-auth {
  display: flex;
}

.nav-auth__link {
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.nav-auth__link_signup {
  color: #fff;
  margin-right: 30px;
}

.nav-auth__link_signin {
  color: #000;
  background-color: #2be080;
  margin-left: 30px;
  padding: 8px 20px;
  border-radius: 3px;
}
