{
  "arrowParens": "always",
  "endOfLine": "auto",
  "no-console": "off",
  "import/order": [
    "error",
    {
      "groups": [
        "builtin",
        "external",
        "internal",
        "parent",
        "sibling",
        "index"
      ],
      "pathGroups": [
        {
          "pattern": "react",
          "group": "external",
          "position": "before"
        }
      ],
      "pathGroupsExcludedImportTypes": [
        "builtin"
      ],
      "newlines-between": "always",
      "alphabetize": {
        "order": "asc",
        "caseInsensitive": true
      }
    }
  ],
  "object-curly-newline": [
    "error",
    {
      "ObjectExpression": {
        "multiline": true,
        "consistent": true
      },
      "ObjectPattern": {
        "multiline": true,
        "consistent": true
      },
      "ImportDeclaration": {
        "multiline": true,
        "consistent": true
      },
      "ExportDeclaration": {
        "multiline": true,
        "consistent": true
      }
    }
  ],
  "arrow-body-style": [
    "error",
    "always"
  ],
  "no-unused-vars": "error",
  "comma-dangle": [
    "error",
    "always-multiline"
  ],
  "eol-last": [
    "error",
    "always"
  ],
  "arrow-parens": [
    "error",
    "always"
  ],
  "object-property-newline": "error",
  "singleQuote": true,
  "trailingComma": "all"
}