.portfolio {
  padding: 0 70px 106px;
}

.portfolio__title {
  color: #a0a0a0;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.portfolio__list {
  list-style: none;
  padding: 0;
  margin: 30px 0 0 0;
}

.portfolio__item {
  padding: 20px 0 19px;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio__item:last-child {
  border-bottom: none;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent url(../../images/pointer.svg) right center / 18px 18px
    no-repeat;
  margin-right: 5px;
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

.portfolio__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 0 50px 74px;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
    letter-spacing: -1.12px;
    background-size: 17px 17px;
  }
}

@media screen and (max-width: 540px) {
  .portfolio {
    padding: 0 14px 52px;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__list {
    margin-top: 20px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
    background-size: 11px 11px;
  }
}
