.promo {
  display: flex;
  height: 320px;
  padding: 82px 0 122px 0;
  align-items: center;
  justify-content: center;
  background: #465dff url('../../images/landing-logo.svg') no-repeat center;
}

.promo__title {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  max-width: 730px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .promo {
    padding: 224px 10px 240px;
    height: 320px;
  }

  .promo__title {
    min-width: 580px;
  }
}

@media screen and (max-width: 540px) {
  .promo {
    padding: 142px 10px 180px;
    height: 248px;
  }

  .promo__title {
    min-width: 300px;
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.24px;
  }
}
