.not-found {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 245px 0 60px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.not-found__container {
  width: 100%;
}

.not-found__title {
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  margin: 0;
}

.not-found__subtitle {
  color: #000;
  font-size: 16px;
  margin: 5px 0 186px 0;
}
.not-found__link {
  color: #ff6838;
  font-size: 14px;
  text-decoration: none;
  border-width: 0;
  box-shadow: none;
  background-color: #FFF;
  transition: opacity 0.2s linear;
}

.not-found__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .not-found {
    padding-top: 408px;
  }

  .not-found__subtitle {
    margin-bottom: 184px;
  }
}

@media screen and (max-width: 540px) {
  .not-found {
    padding: 329px 10px 30px;
  }

  .not-found__title {
    font-size: 80px;
  }

  .not-found__subtitle {
    font-size: 12px;
    margin: 10px 0 283px;
  }

  .not-found__link {
    font-size: 12px;
  }
}
