.not-found {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 246px 0 60px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.not-found__container {
  width: 100%;
}

.not-found__title {
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  margin: 0;
}

.not-found__subtitle {
  color: #000;
  font-size: 16px;
  margin: 5px 0 184px 0;
}
.not-found__link {
  color: #ff6838;
  font-size: 14px;
  text-decoration: none;
}
