.navigation {
  display: flex;
  justify-content: space-between;
  width: 59.1%;
  position: relative;
}

.navigation__movies {
  display: flex;
  align-items: center;
}

.navigation__link {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
  text-decoration: none;
  transition: opacity 0.2s linear;
  margin-right: 16px;
}

.navigation__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.navigation__movies_active {
  color: #000;
}

.navigation__link_type_profile {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  width: 100px;
  height: 32px;
  border-radius: 20px;
  background-color: #f9f9f9;
  margin: 0;
}

.navigation__menu-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation__movies {
    display: none;
  }

  .navigation__link {
    display: none;
  }

  .navigation__menu-button {
    display: block;
    width: 44px;
    height: 44px;
    margin-left: auto;
    padding: 0;
    outline: none;
    border: none;
    background: transparent url('../../images/menu.svg') center center / cover
      no-repeat;
    transition: opacity 0.2s linear;
    cursor: pointer;
  }

  .navigation__menu-button_light {
    background: transparent url('../../images/menu-light.svg') center center /
      cover no-repeat;
  }

  .navigation__menu-button {
    opacity: 0.7;
  }
}

@media screen and (max-width: 540px) {
  .navigation__movies {
    display: none;
  }

  .navigation__menu-button {
    width: 40px;
    height: 43px;
    background: transparent url('../../images/menu-320.svg') center center /
      cover no-repeat;
  }

  .navigation__menu-button_light {
    background: transparent url('../../images/menu-320_light.svg') center center /
      cover no-repeat;
  }
}
