.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 70px 0;
  padding: 81px 0 43px;
  border-bottom: 1px solid #e8e8e8;
}

.search-form__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 40px;
  padding: 6px;
  border: 1px solid #f9f9f9;
  border-radius: 40px;
  background-color: #f9f9f9;
}

.search-form__input {
  width: 100%;
  padding: 0 15px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #f9f9f9;
}
.search__input:focus {
  width: 90%;
  outline: 1px solid black;
  border-radius: 50px;
}

.search__input::placeholder {
  color: #a0a0a0;
}

.search-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  width: 80px;
  height: 34px;
  outline: none;
  border: none;
  border-radius: 48px;
  background-color: #ff6838;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  transition: opacity 0.2s linear;
}

.search-form__toggle {
}

.search-form__short-films {
}

.search-form__tumbler {
}

.search-form__checkbox {
}

.search-form__slider {
}
