.about-project {
  padding: 109px 70px;
  color: #000;
  max-width: 1140px;
  width: 100%;
}

.about-project__title {
  font-size: 22px;
  letter-spacing: -0.88px;
  padding-bottom: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #000;
  margin: 0;
}

.about-project__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  column-gap: 40px;
  padding: 70px 0 110px 0;
}
.about-project__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-project__info-title {
  font-size: 20px;
  letter-spacing: -0.8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 26px 0;
}

.about-project__info-text {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.about-project__container-time {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.about-project__timeline-title {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 15px;
  background-color: #2be080;
  padding: 9px 14px;
}

.about-project__timeline-title_light {
  background-color: #f2f2f2;
}

.about-project__timeline-text {
  color: #a0a0a0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .about-project {
    padding: 90px 50px;
    max-width: 668px;
  }

  .about-project__container {
    column-gap: 30px;
    padding: 70px 0 93px 0;
  }

  .about-project__container-time {
    grid-template-columns: 1.05fr 3.95fr;
  }

  .about-project__timeline-title {
    padding: 9px 10px;
  }

  .about-project__info-title {
    margin: 0 0 22px 0;
  }

  .about-project__info-text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 700px) {
  .about-project__container {
    padding: 61px 0;
  }

  .about-project__info {
    margin-bottom: 57px;
  }

  .about-project__info:last-of-type {
    margin-bottom: 0;
  }

  .about-project__info-title {
    margin-bottom: 16px;
  }

  .about-project__container-time {
    grid-template-columns: 0.352fr 0.648fr;
  }
}

@media screen and (max-width: 540px) {
  .about-project {
    padding: 70px 18px;
    max-width: 284px;
  }

  .about-project__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }

  .about-project__info-title {
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .about-project__info-text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__timeline-title {
    font-size: 11px;
    padding: 11px 10px;
    margin-bottom: 9px;
  }

  .about-project__timeline-text {
    font-size: 11px;
  }
}
